.oneArticle {
    width: 15%;
    margin: 40px;
    box-shadow: 5px 5px 5px grey;
        cursor: pointer;

}

.items {
    background-color: rgb(246, 245, 236, 1);
    border: 3px solid rgb(110, 109, 109);
}
.cardImg {
    height: 250px;
    overflow: hidden;
}